.features{
    //background-color: $color-grey-light-2;
    grid-column: center-start/center-end;
    
    display:grid;
    //grid-template-columns: repeat(3,1fr);
    //below is making it adaptive and dont need media queries!!!
    grid-template-columns: repeat(auto-fit,minmax(25rem, 1fr));
    grid-gap:6rem;
    margin:15rem 0;
    align-items:start;
 


}

.feature{
    display: grid;
    grid-template-columns: min-content 1fr ;
    grid-row-gap:1.5rem;
    grid-column-gap:2.5rem;
    

    &__icon{
     fill:$color-primary;   
     width:4.5rem;
     height: 4.5rem;
     grid-row: 1/span 2;
     transform: translateY(-1rem)
    }
    &__text{
        font-size: 1.7rem;
        
    }
}