.homes{
    grid-column:center-start/center-end;
    margin:15rem 0;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(25rem, 1fr));
    grid-gap:7rem;

    
}

.home{
	background:$color-grey-light-1;
}